parameters:
	ignoreErrors:
		-
			message: "#^Call to method setData\\(\\) on an unknown class Architect\\\\Services\\\\Form\\\\FormBuilder\\.$#"
			count: 1
			path: extensions/blueprint-forms/src/Extension.php

		-
			message: "#^Call to method setErrors\\(\\) on an unknown class Architect\\\\Services\\\\Form\\\\FormBuilder\\.$#"
			count: 1
			path: extensions/blueprint-forms/src/Extension.php

		-
			message: "#^Instantiated class Architect\\\\Services\\\\Form\\\\CSRFTokenManager not found\\.$#"
			count: 1
			path: extensions/blueprint-forms/src/Extension.php

		-
			message: "#^Instantiated class Architect\\\\Services\\\\Form\\\\FormBuilder not found\\.$#"
			count: 1
			path: extensions/blueprint-forms/src/Extension.php

		-
			message: "#^Method Architect\\\\BlueprintForms\\\\Extension\\:\\:getBuilder\\(\\) has invalid return type Architect\\\\Services\\\\Form\\\\FormBuilder\\.$#"
			count: 1
			path: extensions/blueprint-forms/src/Extension.php

		-
			message: "#^Method Architect\\\\BlueprintForms\\\\Extension\\:\\:getCSRF\\(\\) has invalid return type Architect\\\\Services\\\\Form\\\\CSRFTokenManager\\.$#"
			count: 1
			path: extensions/blueprint-forms/src/Extension.php

		-
			message: "#^Parameter \\$builder of method Architect\\\\BlueprintForms\\\\Extension\\:\\:applyFlashData\\(\\) has invalid type Architect\\\\Services\\\\Form\\\\FormBuilder\\.$#"
			count: 1
			path: extensions/blueprint-forms/src/Extension.php

		-
			message: "#^Property Architect\\\\BlueprintForms\\\\Extension\\:\\:\\$builder has unknown class Architect\\\\Services\\\\Form\\\\FormBuilder as its type\\.$#"
			count: 1
			path: extensions/blueprint-forms/src/Extension.php

		-
			message: "#^Property Architect\\\\BlueprintForms\\\\Extension\\:\\:\\$csrf has unknown class Architect\\\\Services\\\\Form\\\\CSRFTokenManager as its type\\.$#"
			count: 1
			path: extensions/blueprint-forms/src/Extension.php

		-
			message: "#^Call to method generateToken\\(\\) on an unknown class Architect\\\\Services\\\\Form\\\\CSRFTokenManager\\.$#"
			count: 1
			path: extensions/blueprint-forms/src/Functions/CSRFFunctions.php

		-
			message: "#^Call to method getTokenField\\(\\) on an unknown class Architect\\\\Services\\\\Form\\\\CSRFTokenManager\\.$#"
			count: 1
			path: extensions/blueprint-forms/src/Functions/CSRFFunctions.php

		-
			message: "#^Parameter \\$csrf of method Architect\\\\BlueprintForms\\\\Functions\\\\CSRFFunctions\\:\\:__construct\\(\\) has invalid type Architect\\\\Services\\\\Form\\\\CSRFTokenManager\\.$#"
			count: 1
			path: extensions/blueprint-forms/src/Functions/CSRFFunctions.php

		-
			message: "#^Property Architect\\\\BlueprintForms\\\\Functions\\\\CSRFFunctions\\:\\:\\$csrf has unknown class Architect\\\\Services\\\\Form\\\\CSRFTokenManager as its type\\.$#"
			count: 1
			path: extensions/blueprint-forms/src/Functions/CSRFFunctions.php

		-
			message: "#^Call to method close\\(\\) on an unknown class Architect\\\\Services\\\\Form\\\\FormBuilder\\.$#"
			count: 2
			path: extensions/blueprint-forms/src/Functions/FormFieldFunctions.php

		-
			message: "#^Call to method open\\(\\) on an unknown class Architect\\\\Services\\\\Form\\\\FormBuilder\\.$#"
			count: 1
			path: extensions/blueprint-forms/src/Functions/FormFieldFunctions.php

		-
			message: "#^Parameter \\$builder of method Architect\\\\BlueprintForms\\\\Functions\\\\FormFieldFunctions\\:\\:__construct\\(\\) has invalid type Architect\\\\Services\\\\Form\\\\FormBuilder\\.$#"
			count: 1
			path: extensions/blueprint-forms/src/Functions/FormFieldFunctions.php

		-
			message: "#^Property Architect\\\\BlueprintForms\\\\Functions\\\\FormFieldFunctions\\:\\:\\$builder has unknown class Architect\\\\Services\\\\Form\\\\FormBuilder as its type\\.$#"
			count: 1
			path: extensions/blueprint-forms/src/Functions/FormFieldFunctions.php

		-
			message: "#^Call to method getDiscoveredClasses\\(\\) on an unknown class Architect\\\\Helpers\\\\Core\\\\HelperDiscovery\\.$#"
			count: 1
			path: extensions/blueprint-helpers/Extension.php

		-
			message: "#^Call to static method hasContainer\\(\\) on an unknown class Architect\\\\Helpers\\\\Core\\\\Facade\\.$#"
			count: 1
			path: extensions/blueprint-helpers/Extension.php

		-
			message: "#^Class Architect\\\\Helpers\\\\Core\\\\Contracts\\\\HelperInterface not found\\.$#"
			count: 1
			path: extensions/blueprint-helpers/Extension.php

		-
			message: "#^Class Architect\\\\Helpers\\\\Core\\\\Facade not found\\.$#"
			count: 2
			path: extensions/blueprint-helpers/Extension.php

		-
			message: "#^Instantiated class Architect\\\\Helpers\\\\Core\\\\HelperDiscovery not found\\.$#"
			count: 1
			path: extensions/blueprint-helpers/Extension.php

		-
			message: "#^Call to an undefined method object\\:\\:get\\(\\)\\.$#"
			count: 2
			path: src/Integrations/Architect/BlueprintBootstrap.php

		-
			message: "#^If condition is always false\\.$#"
			count: 1
			path: src/Parser/ExpressionParser.php

		-
			message: "#^Negated boolean expression is always false\\.$#"
			count: 1
			path: src/Parser/ExpressionParser.php

		-
			message: "#^Negated boolean expression is always true\\.$#"
			count: 1
			path: src/Parser/ExpressionParser.php

		-
			message: "#^Result of && is always false\\.$#"
			count: 1
			path: src/Parser/ExpressionParser.php

		-
			message: "#^If condition is always true\\.$#"
			count: 2
			path: src/Parser/StatementParser.php

		-
			message: "#^Constant APP_DIR not found\\.$#"
			count: 1
			path: src/Template/ElementRenderer.php
