parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method object\\:\\:get\\(\\)\\.$#"
			count: 2
			path: src/Integrations/Architect/BlueprintBootstrap.php

		-
			message: "#^Constant APP_DIR not found\\.$#"
			count: 1
			path: src/Template/ElementRenderer.php
